<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <form action="/blanchardstown">
        <input type="submit" value="blanchardstown">
    </form>
    <form action="/adamstown">
        <input type="submit" value="adamstown">
    </form>
    <form action="/lucan">
        <input type="submit" value="lucan">
    </form>
    <form action="/dublin-2">
        <input type="submit" value="dublin-2">
    </form>



</body>

</html>